@tailwind base;
@tailwind components;
@tailwind utilities;

._a-reset{
    @apply no-underline text-black;
}
.ql-align-justify{
    @apply !text-justify
}
.ql-align-center{
    @apply !text-center
}
.ql-align-right{
    @apply !text-right
}
/* Эти стили указаны для парсинга html иначе тайлвинд их перекрывает */
ul, ol {
    margin-left: 40px;
}
ul{
    list-style-type: circle;
}
ol{
    list-style-type: decimal;
}
h1 {
    font-size: 1.5rem !important;
    font-weight: 700;
}
h2 {
    font-size: 1.3rem;
    font-weight: 700;
}
h3 {
    font-size: 1.2rem;
    font-weight: 700;
}
a {
    color: blue;
    text-decoration: underline;
}
.ql-toolbar {
    position: sticky;
    top: 0;
    background-color: #fff; /* Опционально: указать фоновый цвет */
    z-index: 1; /* Опционально: установить z-index, если необходимо */
}
